body {
    font-family: 'Euphoria Script', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: #303;
    color: white;
    text-align: center;
    padding: .5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: red;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: .5em;
    bottom: 0;
    width: 100%;
}

